Question1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

Explanation:
In line 2 , b() gets call which eventually calls function c(a) i.e c(0) and return value to a = 0+2 i.e 2.
Similary In line 3 when b() gets call & the value of a is updated as a=a+2 = 2+2 = 4
In line 4 b() function gets call and return the value to a = a+2 i.e 4+2 ( as value of a is updated to 4 in previous call) =6
So in line 5 when a is printed then it prints the value 6 ( which gets incremented by 2 with every call of b() function in previous 3 steps.

Question: 2

In [6]:
import os
def fileLength(filename):
    try:
        file = open(filename)
        contents = file.read()
        file.close()
        print(len(contents))
    except IOError:
        print("File",str(filename),"not found")
fileLength('DataProgramming2.ipynb')

30312

In [7]:
fileLength('idterm.py')

File idterm.py not found

Question: 3

In [8]:

class Marsupial(object):
  def __init__(self):
    self.lst = []

  def put_in_pouch(self, item):
    self.lst.append(item)

  def pouch_contents(self):
    return self.lst

In [9]:

class Kangaroo(Marsupial):
  def __init__(self,x,y):
    Marsupial.__init__(self)
    self.x = x
    self.y = y

  def jump(self,dx,dy):
    self.x += dx
    self.y += dy

  def __str__(self):
    return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [10]:
#First Task
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
#Second Task
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

Question: 4

In [12]:
def collatz(number):
    while number != 1:
        if number % 2 == 0:
            number = number // 2
            print(number)

        elif number % 2 == 1:
            number = number * 3 + 1
            print(number)

try:
    x = int(input())
    collatz(x)
#if user inputs other number than whole number then print the message to enter whole number
except ValueError:
    print('Please use whole numbers only.')

10
5
16
8
4
2
1

Question 5

In [13]:
# Function to print binary number using recursion
def binary(n):
   if n < 0:
        print("Input Error: Enter Positive number only")
   elif n ==0:
        return 0
   elif n==1:
        return 1
   else:
        return ((n%2)+10*binary(n//2))

In [14]:
binary (0)

0

In [15]:
binary(-1)

Input Error: Enter Positive number only

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

Question 6

In [18]:
import re
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
  def handle_starttag(self, tag, attrs):
   
    global getHeader
    match = re.match(r'h(\d)', tag, re.I)

    if match:
    
       getHeader=int(match.group(1))
        
   # For End of the tag  
  def handle_endtag(self, tag):
    match = re.match(r'h(\d)', tag, re.I)
    if match:
      getHeader=0



  def handle_data(self, data):
   
    if getHeader > 0:
      
      tab = getHeader-1
      out = "\t"*tab
      print(out + data)
        
getHeader=0
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


	Principles

Question 7

In [19]:
#In anaconda to install : pip3 install httplib2 --upgrade
# Beautifulsoup to pull data of html
from bs4 import BeautifulSoup, SoupStrainer
import httplib2
#httplib2 to access Web resources

def getLinks(url):
    res = []
    http = httplib2.Http()
    status, response = http.request(url)

    for link in BeautifulSoup(response, parse_only=SoupStrainer('a'), features="html.parser"):
        if link.has_attr('href'):
            if link['href'][:5] == "http:" or link['href'][:5] == "https":
                res.append(link['href'])

    return res
#This getLinks (url) funtion simply finds all the <a> tags in the provided page and gets their corresponding url.

In [20]:

#Now, the webdir function: 
def webdir(url, depth, indent):
    print(indent*" " + url)
    if depth == 0:
        return

    for i in getLinks(url):
        webdir(i, depth-1, indent+1)
webdir("http://reed.cs.depaul.edu/lperkovic/csc242/test1.html", 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

In [21]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\basne\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: prettytable<1 in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\basne\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: traitlets>=4.2 in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\basne\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\basne\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\basne\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\basne\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [22]:
import sqlite3

In [23]:
con = sqlite3.connect('data.db')

In [24]:
cur=con.cursor()
cur.execute("DROP TABLE climate;")

In [25]:
cur=con.cursor()
cur.execute("CREATE TABLE climate (City text,Country text,Season text,Temperature DOUBLE,Rainfallmm DOUBLE)")

In [26]:
cur.execute("INSERT INTO climate(City, Country, Season, Temperature, Rainfallmm)VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9),('Mumbai', 'India', 'Spring', 28.4, 16.2),('Mumbai', 'India', 'Summer', 27.9, 1549.4),('Mumbai', 'India', 'Fall', 27.6, 346.0),('London', 'United Kingdom', 'Winter', 4.2, 207.7),('London', 'United Kingdom', 'Spring', 8.3, 169.6),('London', 'United Kingdom', 'Summer', 15.7, 157.0),('London', 'United Kingdom', 'Fall', 10.4, 218.5),('Cairo', 'Egypt', 'Winter', 13.6, 16.5),('Cairo', 'Egypt', 'Spring', 20.7, 6.5),('Cairo', 'Egypt', 'Summer', 27.7, 0.1),('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [27]:
print("8a: Temperature data only: ")
cur.execute("select TEMPERATURE from climate")
print(cur.fetchall())

8a: Temperature data only:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [28]:
print("8b: Cities without repetation: ")
cur.execute("select distinct city from climate")
print(cur.fetchall())

8b: Cities without repetation:
[('Mumbai',), ('London',), ('Cairo',)]

In [29]:
print("8C: All the records for India:  ")
query = "SELECT * FROM climate WHERE Country = 'India'"
cur.execute(query)
print(cur.fetchall())

8C: All the records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [30]:
print("8d: All the records for India:  ")
query = "SELECT * FROM climate WHERE Season = 'Fall'"
cur.execute(query)
print(cur.fetchall())

8d: All the records for India:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [31]:
print("8e:  The city, country,season, average rainfall for which the average rainfall is between 200 and 400 millimeters. ")
query = "select City,Country,Season,AVG(Rainfallmm) from climate where Rainfallmm  between '200' and '400';"
cur.execute(query)
print(cur.fetchall())

8e:  The city, country,season, average rainfall for which the average rainfall is between 200 and 400 millimeters.
[('Mumbai', 'India', 'Fall', 257.40000000000003)]

In [32]:
print("8f: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
query = "select City,Country,avg(Temperature) from Climate where Season = 'Fall' and Temperature >20 order by Temperature;"
cur.execute(query)
print(cur.fetchall())

8f: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
[('Mumbai', 'India', 24.9)]

In [33]:
print("8g: The total annual rainfall for Cairo ")
query = "select sum(Rainfallmm) from Climate where City='Cairo';"
cur.execute(query)
print(cur.fetchall())

8g: The total annual rainfall for Cairo
[(27.6,)]

In [34]:
print("8h: The total rainfall for each season ")
print("Winter,     Spring,              Summer,     Fall")
cur.execute("select sum(Rainfallmm) from Climate group by Season")
print(cur.fetchall())

8h: The total rainfall for each season
Winter,     Spring,              Summer,     Fall
[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question:9

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Printing all words upper case
print("9a:\t")
print([x.upper() for x in words])

# Printing all words lower case
print("9b:\t")
print([x.lower() for x in words])

# Printing length of each word
print("9c:\t")
print([len(x) for x in words])

# Printing the list containing a list for every word of list words,
# where each list contains the word in uppercase and lowercase and the length of the word
print("9d:\t")
print([[x.upper(), x.lower(), len(x)] for x in words])

# Printing the list of words in list words containing 4 or more characters
print("9e:\t")
print([x for x in words if len(x)>=4])

9a:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
9b:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
9c:
[3, 5, 5, 3, 5, 4, 3, 4, 3]
9d:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
9e:
['quick', 'brown', 'jumps', 'over', 'lazy']